body{
   background-color: #F8F5F2;
   /* background-image: url(./assets/images/nature_background_photo_by_nahil_naseer_on_unsplash.jpg); */
   margin-left:18%;
   margin-right:18%;
}

hr{
    /* margin-top: -5em; */
    height: 3.35em;
    background-color:darkcyan;
    border-style: solid;
    /* border-width: 1em; */
    border-top-width: 1em;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: darkorange;
}

 .background{
    background-color: #F8F5F2;
    margin-top: -1.5em;
    padding-top: 3em;
    height: 240em;  
    border-style: solid;
    border-width: 3.35em;
    border-color: darkcyan;
    border-top: solid;
    border-top-width: 3.35em;
    border-top-color: darkcyan;
    border-bottom: solid;
    border-bottom-width: 5em;
    border-bottom-color: darkcyan;
} 

#main-title{
    text-align: center;
    margin-top: 10em;
}

#our-title{
    font-family: cursive;
    font-size: 2em;
    color:darkorange;
    letter-spacing: 0.7em;
    margin-bottom: -10em;
    margin-right: 13.5em;
    margin-left: 1.5em;
    -webkit-text-stroke-width: 0.03em;
    -webkit-text-stroke-color:darkorange;
    transform: rotate(-50deg);
}

#zoo-title{
    background-color: rgba(255, 255, 255, 0);
    font-family: cursive;
    font-size: 14.5em;
    letter-spacing: 0.1em;
    color: darkorange;
    margin-top: 0.6em;
    margin-bottom: -0.57em;
    padding-left: 0.16em;
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: #F8F5F2;
}

#animal-title{
    background-color: darkcyan;
    font-family: cursive;
    font-size: 2em;
    color: darkorange;
    letter-spacing: 1.5em;
    padding-top: 1.2em;
    padding-bottom: 0.4em;
    padding-left: 1.3em;
    margin-top: 1.2em;

    /* -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: white; */
    /* width:fit-content; */
    border-left-width: 10em;
    border-right-width: 10em;
    border-color: darkorange;
    border-bottom-style: none;
    border-left-style: double;
    border-right-style: double;
    border-top-style: none;
}

/* ---------------------------------------------------------------------------- */

p{
    line-height: 2.5;
}

#text-box{
    height: 34em;
    width: 29em;
}


#giraffe-text-box{
    height: 34em;
    width: 27em;
    margin-left:2em

}

/* BEAR, LION, & ALLIGATOR SECTIONS */

#bear-section, #lion-section, #alligator-section{
    height: 34em;
}

#bear-title, #lion-title, #alligator-title{
    margin-top: 2em;
    text-align: left;
    text-indent: 3em;
    /* margin-left: 3.5em; */
    font-family: cursive;
    font-size: 1.6em;
    letter-spacing: 0.5em;
    color: darkcyan;
}

#bear-sum, #lion-sum, #alligator-sum{   
    /* text-indent: 5em; */
    margin-left: 5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: -23.5em;
    margin-bottom: -12em;
    color:black;
}

#bear-img, #lion-img, #alligator-img{
    float:right;
    border-radius: 50%;
    height: 24em;
    width: 28em; 
    margin-right: 5em;
    margin-top: -4em;
    box-shadow: 10px 10px 12px -2px grey;
}


#bear-names, #lion-names, #alligator-names{
    text-align: right;
    margin-top: 22.5em;
    margin-right: 18em;
    list-style: none;
    /* font-size: 1.2em; */
    font-weight: normal;
    font-family: cursive;
    color:black;
}


#bear-a:hover, #lion-a:hover, #alligator-a:hover{
    color: darkcyan;
    text-decoration-line: underline;
    text-underline-offset: 0.3em;
    text-decoration-color: darkorange;
    text-decoration-thickness: 0.1em;
}

#bear-a, #lion-a, #alligator-a{
    text-indent: -5.9em;
    text-decoration-line: none;
    font-family: cursive;
    color: darkcyan;
    margin-bottom: -2em;
    margin-left: 5.5em;
}

/* #bear-a:visited, #lion-a:visited, #alligator-a:visited{
    color: darkgrey;
} */













/*GIRAFFE, MONKEY*/
#giraffe-section, #monkey-section{
    height: 34em;
}

#giraffe-title, #monkey-title{
    margin-top: 7em;
    margin-right: 14em;
    text-align: right;
    font-family: cursive;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    color: darkcyan;
}

#giraffe-img, #monkey-img{
    float:left;
    border-radius: 50%;
    height: 24em;
    width: 28em; 
    margin-top: -6em;
    margin-left: 5em;
    box-shadow: -10px 10px 12px -2px grey;
}


#giraffe-sum, #monkey-sum{
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1.5em; */
    margin-top: -22.5em;
    margin-left: 33em;
    
    /* margin-bottom: -15em; */
}

#giraffe-names, #monkey-names{
    text-align: left;
    margin-top: 20em;
    margin-left: 16.5em;
    list-style: none;
    /* font-size: 1.2em; */
    font-family: cursive;
}

#giraffe-a:hover, #monkey-a:hover{
    color: darkcyan;
    text-decoration-line: underline;
    text-underline-offset: 0.3em;
    text-decoration-color: darkorange;
    text-decoration-thickness: 0.1em;
}

#giraffe-a, #monkey-a{
    text-indent: 39.6em;
    text-decoration-line: none;
    font-family: cursive;
    color: darkcyan;
    margin-top: -12em;
    margin-bottom: 12em;
}

